<div class="settings-container">
  <div
    class="d-flex align-items-center justify-content-between p-2"
    style="background-color: #f8f9fa"
  >
    <i class="fa-solid fa-arrow-left custom-icon me-2" (click)="goback()"></i>
    <div class="flex-grow-1 text-center mb-3">
      <h1 class="pacifico-regular m-0">Feastgram</h1>
    </div>
    <div style="width: 24px"></div>
  </div>
  <h2>Settings</h2>
  <div class="settings-content">
    <ul class="settings-list">
      <li class="setting-item">
        <span (click)="changePassword()" > Change Password</span>
      </li>
      <li class="setting-item">
        <span (click)="toggleFeedbackForm()" >Feed back form</span>
      </li>
      <li class="setting-item">
        <span (click)="logout()" >LogOut</span>
      </li>
    </ul>
    <div class="feedback-form" *ngIf="showFeedbackForm">
      <label for="feedbackEmail">Email:</label>
      <input type="email" id="feedbackEmail" [(ngModel)]="feedbackEmail">
      <label for="feedbackText">Feedback:</label>
      <textarea id="feedbackText" [(ngModel)]="feedbackText" rows="4"></textarea>
      <button>Submit</button>
    </div>
  </div>
</div>
