.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Make this container take the full viewport height */
}

.comment-list {
  overflow-y: auto;
  flex-grow: 1;
}

.comment {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #e9ecef;
}

.d-flex.align-items-center {
  padding: 10px 0;
}

.timestamp {
  margin-left: 10px;
}

.form-control {
  flex: 1;
  border-radius: 20px;
  background-color: #1c1c1e;
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.comment-form {
  padding: 10px 0;
}

.custom-icon {
  font-size: 1.5rem;
}
